/*
    Theme Name:   Release
    Description:  Child theme for WordPress. Requires ACF PRO.
    Author:       Ben Welsby
    Author URI:   bgwelsby.com
    Version:      1.0.0
    Text Domain:  release-theme
    Template: 	  poise-theme
*/