@keyframes zoom {
	0% {
		background-size: 170%;
	}
	100% {
		background-size: 200%;
		filter: blur(5px);
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-40%);
	}
	60% {
		transform: translateY(-30%);
	}
}

@keyframes opacity {
	0% {
		width: 100%;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-moz-opacity:0;
		-khtml-opacity: 0;
		opacity: 0;
	}
	100% {
		width: 100%;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		filter: alpha(opacity=1);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
}