// Base styles
// ----------------------

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}
div {
	display: block;
}
html,
body {
	width: 100%;
	overflow-x: hidden;
}
body {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	color: $font-colour;
}
figure {
	width: 100%;
	height: 100%;
}
img {
	width: 100%;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
.skip-to-main {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -12;
	&:focus {
		color: $white;
		background-color: #96939b;
		left: auto;
		top: auto;
		width: 30%;
		height: auto;
		overflow: auto;
		margin: rem-calc(10) 35%;
		padding: rem-calc(5);
		border: rem-calc(4) solid $white;
		text-align: center;
		font-size: rem-calc(16);
		z-index: 12;
	}
}
.body--admin-bar,
.admin-bar {
	.header {
		margin-top: 32px;
		@media (max-width: 782px) {
			margin-top: 46px;
		}
	}
}
.freeze-body {
	overflow: hidden !important;
	height: 100% !important;
}