.body--page-template-template-landing-page {
	.lede--small {
		min-height: none!important;
		max-height: none!important;
		height: auto!important;
	}
	.section {
		margin-top: 0;
		padding-top: rem-calc(20);
	}
	.text:not(.text--narrow) {
		position: relative;
		width: 100%;
		height: 100%;
		&__inner {
			@media (min-width: $medium) {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		ul {
			list-style-type: square;
		}
		h2,h3,h4,h5,h6 {
			color: $secondary;
		}
	}
	.image {
		filter: blur(2px);
	}
	.lede {
		&__arrow {
			display: none;
		}
	}
	.buttons .button {
		margin-left: 0;
		margin-right: 0;
		width: rem-calc(200);
		&:nth-of-type(1) {
			background: $tertiary;
		}
		&:nth-of-type(2) {
			background: $primary;
		}
		&:nth-of-type(4) {
			// background: $pineapple-purple;
		}
	}
}