// Social icons in footer.
.social-media {
	margin-bottom: rem-calc(5);
	@media (min-width: $small) {
		margin-bottom: rem-calc(10);
	}
	svg {
		width: auto;
		height: rem-calc(20);
		margin-right: rem-calc(15);
		fill: $white;
		@media (min-width: $xxsmall) {
			margin-right: rem-calc(15);
			height: rem-calc(25);
		}

	}
	a {
		text-decoration: none;
		&:last-of-type {
			svg {
				margin-right: 0;
			}
		}
		&:hover {
			svg {
				fill: $secondary;
			}
		}
	}
}