.table {
	overflow-x: auto;
	width: 100%;
	height: 100%;
}
table {
	width: 100%;
	max-width: 100%;
	min-width: rem-calc(600);
	overflow: scroll;
	height: 100%;
	thead {
		font-weight: 600;
		background: $primary;
		color: $white;
	}
	tr {
		width: 100%;
	}
	tr:nth-child(even) {
		background: $light-grey;
	}
	td {
		padding: rem-calc(8);
		width: 33.3333%;
		&:hover {
			cursor: pointer;
			background: $grey;
		}
	}
}