/* 404 page styles
---------------------------------------------- */

.body--error404,
.error404 {
	.lede {
		text-align: center;
		background: $light-grey;
		margin-bottom: 0;
		.col {
			max-width: 700px;
		}
		h1,
		h2,
		p {
			color: $primary;
		}
		h1 {
			font-size: rem-calc(100);
			color: $dark-grey;
			margin-bottom: 0;
		}
	}
}