/* Details / Accordion styles
---------------------------------------------- */

.details {
	* { outline: 0; }
	&__inner {
		margin-bottom: rem-calc(16);
		width: 100%;
		&:before,
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	&__header {
		padding: rem-calc(10);
		border-bottom: rem-calc(1) solid rgba($grey, 0.3);
		background: rgba($grey, 0.15);
		cursor: pointer;
		user-select: none;
		@media (min-width: $medium) {
			padding: rem-calc(15);
		}
		&:hover {
			background: rgba($grey, 0.25);
		}
		&::-webkit-details-marker {
			display: none;
		}
		&::before {
			content: '+';
			display: inline-block;
			margin: 0 rem-calc(15) 0 0;
			font-size: $h3-size;
			color: inherit;
			background: transparent;
			font-weight: $font-weight-bold;
			@media (min-width: $medium) {
				font-size: $h3-size-large;
			}
		}
		h3 {
			margin-bottom: 0;
			display: inline-block;
		}
	}
	&__text {
		padding: rem-calc(10);
		height: 100%;
		max-height: 0;
		overflow: hidden;
		color: $primary;
		animation: opacity 250ms;
		transition: max-height 250ms;
		@media (min-width: $medium) {
			padding: rem-calc(15);
		}
	}
	&--open {
		.details__header {
			&::before {
				content: '-';
				margin: 0 rem-calc(18) 0 0;
			}
		}
		.details__text {
			max-height: rem-calc(350);
			overflow-y: scroll;
		}
	}
}