/* Video Lede styles
---------------------------------------------- */

.lede--video {
	.lede {
		&__video-wrap {
			margin: 0 auto;
			width: 100%;
			height: 100%;
			z-index: 1;
			top: 0;
			left: 0;
			position: absolute;
			padding: 0;
			max-width: 100%;
			z-index: 1;
			video {
				height: 100%;
    			min-width: 100%;
    			object-fit: cover;
    			z-index: 1;
			}
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 0;
				background: rgba($primary, 0.9);
			}
		}
	}
}