/* Text tertiary variation styles
 *
 * MAX-WIDTH FLOAT CENTRE VARIATION
---------------------------------------------- */

// Add a max width and float block to centre.
.text--narrow {
	margin-left: auto;
	margin-right: auto;
	padding-left: rem-calc(16);
	padding-right: rem-calc(16);
	max-width: $medium;
}