/* Text secondary variation styles
 *
 * TILE VARIATION
---------------------------------------------- */

// Tile variation styles.
.text--tile {
	min-height: rem-calc(300);
	height: auto;
	position: relative;
	margin-bottom: 1rem;
	@media (min-width: $medium) {
		min-height: rem-calc(340);
		margin-bottom: 0;
	}
	&:hover {
		.text {
			&__image {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
	.text {
		position: relative;
		&__inner {
			position: absolute;
			z-index: 1;
			padding: rem-calc(24);
			color: $white;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 95%;
		}
		&__content {
			width: 100%;
			height: 100%;
			text-align: center;
			a {
				color: $white;
				&:hover {
					color: darken($white, 5%);
				}			
			}
		}
		&__image {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			margin: 0;
			img {
				height: 100%;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($red, 0.9);
			}
		}
	}
}