/* Text quote variation styles
 *
 * Text variation with styled blockquote
---------------------------------------------- */

.text--quote {
	margin-left: auto;
	margin-right: auto;
	max-width: $medium;
	blockquote {
		font-size: rem-calc(18);
		&:before {
			content: '';
			margin-right: rem-calc(15);
			display: inline-block;
			width: rem-calc(75);
			height: rem-calc(75);
			background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' enable-background='new 0 0 409.294 409.294' height='512' viewBox='0 0 409.294 409.294' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23122c34' d='m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z'/%3E%3Cpath fill='%23122c34' d='m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z'/%3E%3C/svg%3E");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.author {
		margin-top: rem-calc(15);
		font-size: rem-calc(14);
		display: block;
		text-align: right;
		text-transform: uppercase;
		b {
			font-weight: $font-weight-bold;
		}
	}
}